# Content directory
/Content
/Content/*
/RawContent
.svn

# Merge tool left over files
*.orig

# Website directory

website/*
index.html

# Standard stuff
Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
[Bb]in
[Dd]ebug*/

# UE4 folders
/Binaries
/DerivedDataCache
/Intermediate
/Saved
/Staging
/ThirdParty
/ThirdPartyBuild

# Extra file created for linux compile database
compile_commands.json

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la

# CMake/build directory
[Bb]uild/
build-win/
build*/
/build
/cmake_build
# CMake cache
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

# NetBeans project directory
nbproject/

# Vim swap files
*.swp

# Project folders
.kdev4
*.pri
Thrive.workspace
ThriveCodeCompletionFolders.txt
ThriveCodeLitePreProcessor.txt
Thrive.kdev4
Thrive.pro
CMakeLists.txt
LaunchEditor.sh

# Visual studio
Thrive.VC.VC.opendb
Thrive.VC.db
Thrive.sln

# Version file

!thriveversion.ver
# Temporary/backup files
*~


# Cscope files
/cscope.files
/RunCodeIndexing.rb