
[submodule "Plugins/VictoryPlugin"]
	path = Plugins/VictoryPlugin
	url = https://github.com/EverNewJoy/VictoryPlugin.git

[submodule "Plugins/RuntimeMeshComponent"]
	path = Plugins/RuntimeMeshComponent
	url = https://github.com/Revolutionary-Games/UE4RuntimeMeshComponent.git
